<ul class="users">
  <li *ngFor="let user of users"
      (click)="onSelect(user)"
      [class.selected]="user === selectedUser">
    <span class="id">{{user.id}}</span> {{user.login}}
  </li>
</ul>

<app-user-details *ngIf="selectedUser"
                  [maxRank]="maxRank"
                  [selectedUser]="selectedUser"
                  (changeSelectedUser)="changeSelectedUser($event)">
</app-user-details>

<app-new-user *ngIf="newUser"
              [selectedUser]="selectedUser"
              (hideNewUser)="hideNewUser($event)">
</app-new-user>

<div>
  <button class="home" (click)="addUser()">Add a user</button>
  <button class="home" (click)="goToHome()">
    Home
  </button>
</div>


